<form id="calculateForm" method="post">
    <h3>Vnos parametrov za izračun</h3>
    <p>
        <label for="parameterLength">Dolžina traka</label><br>
        <input type="text" name="length" />
    </p>
    <p>
        <label for="parameterWidth">Širina traka</label><br>
        <input type="text" name="width" />
    </p>
    <p>
        <label for="parameterRadius">Polmer rondelice</label><br>
        <input type="text" name="radius" />
    </p>
    <p>
        <label for="parameterMinLeftDistance">Minimalna razdalja med začetkom in koncem in robom rondelic</label><br>
        <input type="text" name="minLeftDistance" />
    </p>
    <p>
        <label for="parameterMinTopDistance">Minimalna razdalja med zgornjim in spodnjim robom</label><br>
        <input type="text" name="minTopDistance" />
    </p>
    <p>
        <label for="parameterMinMiddleDistance">Minimalna razdalja med robovi rondelic</label><br>
        <input type="text" name="minMiddleDistance" />
    </p>
    <input type="button" id="btnCalculate" value="Izračun postavitve" />
</form>

<div id="body">
    <br>
    Skupno število rondelic na traku: <input id="parpar" type="text" name="FirstName" value=""><br>
</div>

@section scripts{
    <script type="text/javascript">
        $(function()
        {
            $.getJSON('/api/contact', function(contactsJsonPayload)
            {
                $(contactsJsonPayload).each(function(i, item)
                {
                });
            });
        });

        $('#btnCalculate').click(function () {
            $.post("api/Calculation",
                  $("#calculateForm").serialize(),
                  function (value) {
                      document.getElementById("parpar").value=value;
                  },
                  "json"
            );
        });

     </script>
}